@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Permanent+Marker&family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo+Play:wght@1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Skranji&display=swap');

$color: #494746;

:root {
  --dialog-max-height: 100vh; /* Default value */
}

html, body {
  padding: 0;
  margin: 0;
  user-select: none;
  font-family: "Black Ops One", "Helvetica Rounded", Arial, sans-serif;
}

body {
  background-color: $color !important;
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* Prevent body from scrolling */
}

dialog {
  top: 0;
  bottom: 0;
  border-radius: 8px;
  z-index: 10;
  overflow-y: auto;
  max-height: var(--dialog-max-height);

  background-image: radial-gradient(#0000006e, transparent);

  h2 {
    font-family: 'Cairo Play', sans-serif;
  }

  p {
    font-family: 'Skranji', cursive;
  }

  fieldset {
    border-radius: 8px;
    border-color: $color;
  }

  section {
    margin: 0.3em 0;

    &:last-child {
      margin-top: 1.3em;
    }

    &.sound.visual-effects {
      > div {
        display: flex;
        flex-direction: row;
        justify-content: center;

        fieldset {
          flex: 1;
        }
      }
    }
  }

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }

  text-align: center;

  .modes {
    font-weight: bold;

    .mode {
      display: inline-block;
      margin: 2px 4px;
    }
  }

  .levels {
    width: 50%;
    margin: 0 auto;

    .level {
      display: inline-block;
      margin: 2px 4px;
    }
  }

  .actions {
    button {
      margin-top: 0.3em;
      padding: 0.5em 1em;
      border-radius: 5px;
      border: 3px solid $color;
      background-color: #eeeded;
      cursor: pointer;
      font-weight: bold;
      font-size: 1em;
      width: 100%;
      font-family: "Black Ops One", "Helvetica Rounded", Arial, sans-serif;

      svg {
        position: relative;
        top: 3px;
      }
    }
  }
}
