@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Permanent+Marker&family=Roboto:ital,wght@1,300&display=swap');

$color: #494746;
html, body {
  background-color: $color !important;
  padding: 0;
  margin: 0;
  user-select: none;
  font-family: "Black Ops One", "Helvetica Rounded", Arial, sans-serif;
}

dialog {
  top: 0;
  bottom: 0;
  border-radius: 8px;
  z-index: 10;
  background-image: radial-gradient(#0000006e, transparent);

  fieldset {
    border-radius: 8px;
  }

  section {
    margin: 0.3em 0;

    &:last-child {
      margin-top: 1.3em;
    }
  }

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }

  text-align: center;

  .modes {
    font-weight: bold;

    .mode {
      display: inline-block;
      margin: 2px 4px;
    }
  }

  .levels {
    width: 50%;
    margin: 0 auto;

    .level {
      display: inline-block;
      margin: 2px 4px;
    }
  }

  .actions {
    button {
      margin-top: 0.3em;
      padding: 0.5em 1em;
      border-radius: 5px;
      border: 1px solid #000;
      background-color: #eeeded;
      cursor: pointer;
      font-weight: bold;
      font-size: 1em;
      width: 100%;
      font-family: "Black Ops One", "Helvetica Rounded", Arial, sans-serif;

      svg {
        position: relative;
        top: 3px;
      }
    }
  }

}
